.App {
  padding: 20px;
}

h1,
h2 {
  margin-bottom: 8px;
  text-align: center;
}

.card {
  border: 1px solid #eee;
  padding: 16px;
  margin-bottom: 10px;
}

.w50 {
  width: 49%;
}

.d-flex {
  display: flex;
  justify-content: space-around;
}
